layout {
    default_tab_template {
        // pane size=1 borderless=true {
        //     plugin location="zellij:tab-bar"
        // }
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                format_left   "#[fg=#33658A,bg=#00000000]{tabs}#[fg=#33658A,bg=#00000000]"
                format_center "#[fg=#86BBD8,bg=#00000000]#[fg=#000000,bg=#86BBD8,bold] Mingjie's Terminal #[fg=#86BBD8,bg=#00000000]"
                format_right  "#[fg=#9A348E,bg=#00000000]{datetime}#[fg=#9A348E,bg=#00000000]"
                format_space  ""

                hide_frame_for_single_pane "true"

                mode_normal                "#[bg=blue] "

                tab_normal                 "#[fg=#4C4C59,bg=#00000000]#[fg=#000000,bg=#4C4C59,bold] {name} #[fg=#4C4C59,bg=#00000000]"
                tab_active                 "#[fg=#33658A,bg=#00000000]#[fg=white,bg=#33658A,bold] {name} #[fg=#33658A,bg=#00000000]"

                datetime                   "#[fg=#white,bg=#9A348E,bold]{format}"
                datetime_format            "%A, %b %d %Y %I:%M %p"
                datetime_timezone          "America/Vancouver"
            }
        }
        children
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="Workspace" focus=true {
        pane split_direction="vertical" {
            pane name="Lorem"
            pane name="Ipsum"
        }
    }
    tab name="Code" cwd="/Users/mingjie.li/Everbridge" split_direction="vertical" {
        pane name="Tangled"
        pane name="Spaghetti"
        floating_panes {
            pane name="Pull All Repos" start_suspended=true x="15%" y="15%" width="70%" height="70%" {
                cwd "/Users/mingjie.li/Everbridge"
                command "zsh"
                args "-c" "/Users/mingjie.li/Documents/Scripts/pullall.sh; zsh"
            }
        }
    }
    tab name="♫" {
        pane borderless=true {
            command "musikcube"
        }
    }
    // tab name="Time" {
    //     pane borderless=true{
    //         command "zsh"
    //         args "-c" "LC_ALL=C peaclock"
    //     }
    // }
    tab name="Homebrew" split_direction="vertical" {
        pane name="Latte"
        pane name="Mocha"
        floating_panes {
            pane name="Espresso" start_suspended=true x="15%" y="15%" width="70%" height="70%" {
                command "zsh"
                args "-c" "echo 'homebrew updating...'; brew update; echo 'homebrew upgrading...'; brew upgrade; brew upgrade --cask --greedy; echo 'Done!'; zsh"
            }
        }
    }
    tab name="Monitor" {
        pane command="btm" borderless=true start_suspended=true
    }
    tab name="Zen" {
        pane split_direction="vertical" {
            pane name="Fortune" {
                command "zsh"
                args "-c" "if (( $+commands[fortune] )) && (( $+commands[lolcat] )); then while true; do clear; fortune -l | lolcat; sleep 10; done; fi"
            }
            pane split_direction="horizontal" size=35 {
                pane borderless=true {
                    command "zsh"
                    args "-c" "clear; sleep 1; /usr/local/bin/cmatrix -bcC blue"
                }
                pane size=7 borderless=true {
                    command "zsh"
                    args "-c" "while true; do clear; figlet -cw 36 'Mingjie' | lolcat; read -t 0.5; done"
                }
            }
        }
    }
}

scroll_buffer_size 99999

ui {
    pane_frames {
        rounded_corners true
        hide_session_name true
    }
}

keybinds {
    shared_except "locked" {
        bind "Alt ," { GoToPreviousTab; }
        bind "Alt ." { GoToNextTab; }
    }
}
