layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab_template name="strider_tab" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane split_direction="Vertical" {
            pane size="20%" {
                plugin location="zellij:strider"
            }
            children
        }
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab_template name="no_status_tab" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
    }
    tab name="Workspace" focus=true {
        pane split_direction="vertical" {
            pane name="Lorem"
            pane name="Ipsum"
        }
    }
    no_status_tab name="♫" {
        pane borderless=true {
            command "musikcube"
        }
    }
    tab name="Code" cwd="/Users/mingjie/Everbridge" split_direction="vertical" {
        pane name="Tangled"
        pane name="Spaghetti"
        floating_panes {
            pane name="Pull All Repos" start_suspended=true x="15%" y="15%" width="70%" height="70%" {
                cwd "/Users/mingjie/Everbridge"
                command "zsh"
                args "-c" "/Users/mingjie/Documents/Scripts/pullall.sh; zsh"
            }
        }
    }
    no_status_tab name="Time" {
        pane borderless=true{
            command "zsh"
            args "-c" "LC_ALL=C peaclock"
        }
    }
    no_status_tab name="Monitor" {
        pane command="btm" borderless=true start_suspended=true
    }
    tab name="Homebrew" split_direction="vertical" {
        pane name="Latte"
        pane name="Mocha"
        floating_panes {
            pane name="Espresso" start_suspended=true x="15%" y="15%" width="70%" height="70%" {
                command "zsh"
                args "-c" "echo 'homebrew updating...'; brew update; echo 'homebrew upgrading...'; brew upgrade; echo 'Done!'; zsh"
            }
        }
    }
    no_status_tab name="Browser" {
        pane borderless=true start_suspended=true {
            command "browsh"
            args "--startup-url" "google.com/search?q=test"
        }
    }
    no_status_tab name="Zen" {
        pane split_direction="vertical" {
            pane name="Fortune" {
                command "zsh"
                args "-c" "if (( $+commands[fortune] )) && (( $+commands[lolcat] )); then while true; do clear; fortune -l | lolcat; sleep 10; done; fi"
            }
            pane split_direction="horizontal" size=36 {
                pane command="cmatrix" borderless=true {
                    args "-b"
                }
                pane size=7 borderless=true {
                    command "zsh"
                    args "-c" "while true; do clear; figlet -cw 36 'Mingjie' | lolcat; sleep 2; done"
                }
            }
        }
    }
}

keybinds {
    shared_except "locked" {
        bind "Alt ," { GoToPreviousTab; }
        bind "Alt ." { GoToNextTab; }
    }
}
